<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>color palette</title>
    <link href="static/styles.css" rel="stylesheet">
</head>

<body>
<nav>
    <a href="{{url_for('color_platte')}}">Home</a>
</nav>
    <div>
        <h1>color platte</h1>
        <div>
            <img src="{{link}}">
        </div>
        <div>
            {% for i in list_color: %}
            <p style="color:{{i}}">{{i}}</p>
            {% endfor %}
        </div>
    </div>
</body>
<footer>
    copyright @Yijing Lai 2022
</footer>
</html>
